.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #61dafb;
  color: white;
}

button:hover {
  background-color: #21a1f1;
}
