/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.menu-button {
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 18px;
  color: white;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.menu-button:hover {
  background-color: #21a1f1;
}

.home, .play {
  text-align: center;
}
