/* src/TheGame.css */

.game {
    padding: 20px;
  }
  
  .game-info {
    margin-bottom: 20px;
  }
  
  .game-info p {
    font-size: 1.2rem;
  }
  
  .game-info h2 {
    margin-top: 10px;
  }
  
  .game-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .game-info li {
    padding: 5px 0;
  }
  
  .badge {
    background-color: #ffcc00;
    border-radius: 5px;
    color: #000;
    font-size: 0.8rem;
    margin-left: 10px;
    padding: 3px 5px;
  }
  