/* src/TheGame.css */
.the-game {
    text-align: center;
  }
  
  .players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .player {
    margin: 10px;
  }
  
  .player img {
    width: 100px; /* Ajuste selon tes besoins */
    height: 100px;
    object-fit: cover;
  }
  